# Python
__pycache__/
*.py[cod]
*$py.class
*.log
venv/
.venv/

# PyInstaller
*.manifest
*.spec
build/
dist/

# VS Code
.vscode/

# Local configuration and downloaded models
config.json
config.json.tmp
models/
*.wav
